.banner {
  background-size: cover;
  background-position: top;
  height: 100vh;
  margin-bottom: 30px;
  text-align: center;
  padding-top: 40vh;
  color: #eee;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset-url('banner-background.jpg');;
}

// .home-banner {
//   background-image: url('banner-background.jpg');
//   background-size: cover;
//   height: 100vh;
//   color: #eee;
//   text-align: center;
//   padding-top: 40vh;
// }
