<div class="container">

  <div class="profile_box">
    <img src="https://kitt.lewagon.com/placeholder/users/arthur-littm" class="avatar-large">
    <div class="username_box">
      <p> adamdios </p>
    </div>
    <div class="user_countries">
      <p><strong>COUNTRIES</strong></p>
      <p>19</p>
    </div>
    <div class="user_contributions">
      <p><strong>CONTRIBUTIONS</strong></p>
      <p>33</p>
    </div>
  </div>

  <div class="map_container">

  </div>

