<%= link_to ('<p style="margin-bottom: 0;padding-left: 15px; color: #ABAAAA; text-decoration: none; padding-bottom: 8px; ">Delete</p>').html_safe, trip_step_path(@trip, step),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
