<a class="edit-delete-buttons" style="padding-left: 25px; color: #ABAAAA; padding-bottom: 8px;" data-toggle="collapse" href="#collapseEditStep<%= step.id %>" aria-expanded="false" aria-controls="collapseEditStep<%= step.id %>">
  Edit
</a>

