<% if @steps.empty? %>
  <i class="fas fa-plus-circle icon-add-step"></i><a data-toggle="collapse" href="#collapseStepAdd" role="button" aria-expanded="false" aria-controls="collapseStepAdd" class="add-step-link">
    Add your first step
  </a>
<% else %>
  <i class="fas fa-plus-circle icon-add-step"></i><a data-toggle="collapse" href="#collapseStepAdd" role="button" aria-expanded="false" aria-controls="collapseStepAdd" class="add-step-link">
    Add new step
  </a>
<% end %>

<div class="collapse" id="collapseStepAdd">
  <div class="card card-body step-form" style="border: 0">

    <%= render 'steps/partials/stepaddinfo', trip: @trip, step: step %>

<!--
    <div class="loader-form-takeover">
     <div class="loader"></div>
    </div>
 -->
  </div>
</div>



<%#= f.input :location, label: false, placeholder: "Location" %>
<%#= ("<div id='geocoder' class='geocoder'></div>").html_safe %>
<%#= ("<div id='geocoder' class='geocoder'></div>").html_safe %>
