<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<h2>Testing UI components</h2>

<button type="button" class="btn btn-primary">button1</button>

<button type="button" class="btn btn-outline-primary">button2</button>

<div class="d-flex">
  <div class="card-trip">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-trip-infos">
      <div>
        <h3>Trip name</h3>
        <h4>Trip steps</h4>
        <h4>Trip duration</h4>
      </div>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>

<div class="card-trip">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-trip-infos">
      <div>
        <h3>Trip name</h3>
        <h4>Trip steps</h4>
        <h4>Trip duration</h4>
      </div>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>
</div>
