
<svg width="278" height="56" viewBox="0 0 278 56" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M83.509 41.624C85.745 41.624 87.734 41.26 89.476 40.532C91.218 39.804 92.713 38.777 93.961 37.451C95.131 36.203 95.989 34.786 96.535 33.2C97.081 31.614 97.354 29.924 97.354 28.13C97.354 27.688 97.328 27.246 97.276 26.804C97.224 26.362 97.159 25.985 97.081 25.673H83.392V30.158H92.167C91.959 31.042 91.6665 31.8415 91.2895 32.5565C90.9125 33.2715 90.464 33.863 89.944 34.331C89.216 35.007 88.3385 35.5595 87.3115 35.9885C86.2845 36.4175 85.03 36.632 83.548 36.632C82.248 36.632 81.026 36.4045 79.882 35.9495C78.738 35.4945 77.7305 34.851 76.8595 34.019C75.9885 33.187 75.2995 32.1795 74.7925 30.9965C74.2855 29.8135 74.032 28.494 74.032 27.038C74.032 25.582 74.2855 24.2625 74.7925 23.0795C75.2995 21.8965 75.982 20.889 76.84 20.057C77.698 19.225 78.699 18.5815 79.843 18.1265C80.987 17.6715 82.196 17.444 83.47 17.444C85.03 17.444 86.369 17.6975 87.487 18.2045C88.605 18.7115 89.619 19.446 90.529 20.408L94.156 16.859C92.882 15.481 91.3545 14.402 89.5735 13.622C87.7925 12.842 85.771 12.452 83.509 12.452C81.481 12.452 79.57 12.816 77.776 13.544C75.982 14.272 74.422 15.286 73.096 16.586C71.77 17.886 70.717 19.4265 69.937 21.2075C69.157 22.9885 68.767 24.932 68.767 27.038C68.767 29.144 69.157 31.0875 69.937 32.8685C70.717 34.6495 71.77 36.19 73.096 37.49C74.422 38.79 75.982 39.804 77.776 40.532C79.57 41.26 81.481 41.624 83.509 41.624ZM108.391 41.624C109.873 41.624 111.231 41.3705 112.466 40.8635C113.701 40.3565 114.767 39.6545 115.664 38.7575C116.561 37.8605 117.263 36.788 117.771 35.54C118.278 34.292 118.531 32.927 118.531 31.445C118.531 29.963 118.278 28.598 117.771 27.35C117.263 26.102 116.561 25.0295 115.664 24.1325C114.767 23.2355 113.701 22.5335 112.466 22.0265C111.231 21.5195 109.873 21.266 108.391 21.266C106.909 21.266 105.55 21.5195 104.315 22.0265C103.08 22.5335 102.014 23.2355 101.117 24.1325C100.22 25.0295 99.5185 26.102 99.0115 27.35C98.5045 28.598 98.251 29.963 98.251 31.445C98.251 32.927 98.5045 34.292 99.0115 35.54C99.5185 36.788 100.22 37.8605 101.117 38.7575C102.014 39.6545 103.08 40.3565 104.315 40.8635C105.55 41.3705 106.909 41.624 108.391 41.624ZM106.48 36.5345C107.078 36.7815 107.715 36.905 108.391 36.905C109.041 36.905 109.671 36.7815 110.282 36.5345C110.893 36.2875 111.433 35.93 111.901 35.462C112.369 34.994 112.739 34.422 113.012 33.746C113.285 33.07 113.422 32.303 113.422 31.445C113.422 30.587 113.285 29.82 113.012 29.144C112.739 28.468 112.369 27.896 111.901 27.428C111.433 26.96 110.893 26.6025 110.282 26.3555C109.671 26.1085 109.041 25.985 108.391 25.985C107.715 25.985 107.078 26.1085 106.48 26.3555C105.882 26.6025 105.349 26.96 104.881 27.428C104.413 27.896 104.042 28.468 103.769 29.144C103.496 29.82 103.36 30.587 103.36 31.445C103.36 32.303 103.496 33.07 103.769 33.746C104.042 34.422 104.413 34.994 104.881 35.462C105.349 35.93 105.882 36.2875 106.48 36.5345ZM133.156 41V29.846H144.349V24.854H133.156V18.068H145.597V13.076H127.891V41H133.156ZM147.469 13.076H152.578V41H147.469V13.076ZM161.236 41.624C162.562 41.624 163.647 41.364 164.493 40.844C165.338 40.324 166.059 39.7 166.657 38.972H166.969V41H172V29.534C172 26.804 171.22 24.7435 169.66 23.3525C168.1 21.9615 165.838 21.266 162.874 21.266C159.364 21.266 156.595 22.54 154.567 25.088L158.272 27.623C159.494 26.141 160.989 25.4 162.757 25.4C163.953 25.4 164.954 25.7315 165.76 26.3945C166.566 27.0575 166.969 27.896 166.969 28.91V29.495C166.449 29.287 165.786 29.0855 164.98 28.8905C164.174 28.6955 163.147 28.598 161.899 28.598C160.781 28.598 159.747 28.7475 158.799 29.0465C157.85 29.3455 157.024 29.781 156.322 30.353C155.62 30.925 155.074 31.6075 154.684 32.4005C154.294 33.1935 154.099 34.084 154.099 35.072C154.099 36.034 154.281 36.918 154.645 37.724C155.009 38.53 155.516 39.219 156.166 39.791C156.816 40.363 157.576 40.8115 158.448 41.1365C159.318 41.4615 160.248 41.624 161.236 41.624ZM160.163 36.944C160.8 37.412 161.535 37.646 162.367 37.646C163.043 37.646 163.667 37.5225 164.239 37.2755C164.811 37.0285 165.299 36.7035 165.701 36.3005C166.104 35.8975 166.417 35.4295 166.637 34.8965C166.858 34.3635 166.969 33.811 166.969 33.239C166.371 32.953 165.754 32.7255 165.117 32.5565C164.479 32.3875 163.784 32.303 163.03 32.303C161.808 32.303 160.866 32.5695 160.202 33.1025C159.539 33.6355 159.208 34.292 159.208 35.072C159.208 35.852 159.526 36.476 160.163 36.944ZM179.605 41V31.718C179.605 30.912 179.696 30.158 179.878 29.456C180.06 28.754 180.32 28.1495 180.658 27.6425C180.996 27.1355 181.412 26.7325 181.906 26.4335C182.4 26.1345 182.972 25.985 183.622 25.985C185.858 25.985 186.976 27.285 186.976 29.885V41H192.085V31.718C192.085 30.912 192.182 30.158 192.377 29.456C192.572 28.754 192.845 28.1495 193.196 27.6425C193.547 27.1355 193.983 26.7325 194.503 26.4335C195.023 26.1345 195.621 25.985 196.297 25.985C198.429 25.985 199.495 27.285 199.495 29.885V41H204.604V28.949C204.604 27.831 204.461 26.7975 204.175 25.8485C203.889 24.8995 203.466 24.087 202.908 23.411C202.348 22.735 201.64 22.2085 200.782 21.8315C199.924 21.4545 198.91 21.266 197.74 21.266C196.18 21.266 194.854 21.6105 193.762 22.2995C192.67 22.9885 191.825 23.814 191.227 24.776C190.811 23.788 190.109 22.956 189.121 22.28C188.133 21.604 186.911 21.266 185.455 21.266C184.207 21.266 183.069 21.552 182.042 22.124C181.015 22.696 180.203 23.45 179.605 24.386H179.293V21.89H174.496V41H179.605ZM212.443 18.1655C211.793 18.8025 211.013 19.121 210.103 19.121C209.661 19.121 209.238 19.0365 208.835 18.8675C208.432 18.6985 208.081 18.4645 207.783 18.1655C207.483 17.8665 207.249 17.522 207.08 17.132C206.911 16.742 206.827 16.313 206.827 15.845C206.827 15.377 206.911 14.948 207.08 14.558C207.249 14.168 207.483 13.8235 207.783 13.5245C208.081 13.2255 208.432 12.9915 208.835 12.8225C209.238 12.6535 209.661 12.569 210.103 12.569C211.013 12.569 211.793 12.8875 212.443 13.5245C213.093 14.1615 213.418 14.935 213.418 15.845C213.418 16.755 213.093 17.5285 212.443 18.1655ZM212.677 21.89H207.568V41H212.677V21.89ZM220.906 31.64V41H215.797V21.89H220.594V24.386H220.906C221.504 23.424 222.31 22.6635 223.324 22.1045C224.338 21.5455 225.495 21.266 226.795 21.266C227.991 21.266 229.044 21.461 229.954 21.851C230.864 22.241 231.611 22.7935 232.197 23.5085C232.781 24.2235 233.223 25.0815 233.522 26.0825C233.822 27.0835 233.971 28.195 233.971 29.417V41H228.862V30.041C228.862 28.663 228.557 27.6425 227.945 26.9795C227.335 26.3165 226.444 25.985 225.274 25.985C224.572 25.985 223.954 26.1345 223.421 26.4335C222.889 26.7325 222.434 27.1355 222.057 27.6425C221.68 28.1495 221.393 28.7475 221.199 29.4365C221.003 30.1255 220.906 30.86 220.906 31.64ZM245.242 50.048C246.75 50.048 248.122 49.8075 249.357 49.3265C250.591 48.8455 251.651 48.1565 252.535 47.2595C253.419 46.3625 254.108 45.2705 254.602 43.9835C255.096 42.6965 255.343 41.247 255.343 39.635V21.89H250.468V23.957H250.156C249.558 23.125 248.771 22.4685 247.796 21.9875C246.822 21.5065 245.671 21.266 244.345 21.266C243.201 21.266 242.089 21.5 241.01 21.968C239.932 22.436 238.976 23.1055 238.144 23.9765C237.312 24.8475 236.636 25.9005 236.116 27.1355C235.596 28.3705 235.336 29.742 235.336 31.25C235.336 32.758 235.596 34.123 236.116 35.345C236.636 36.567 237.312 37.6135 238.144 38.4845C238.976 39.3555 239.932 40.025 241.01 40.493C242.089 40.961 243.201 41.195 244.345 41.195C245.671 41.195 246.822 40.9545 247.796 40.4735C248.771 39.9925 249.558 39.336 250.156 38.504H250.468V39.83C250.468 41.624 250 43.0215 249.064 44.0225C248.128 45.0235 246.854 45.524 245.242 45.524C244.228 45.524 243.305 45.2445 242.473 44.6855C241.641 44.1265 241.043 43.34 240.679 42.326L235.804 44.276C236.038 44.952 236.415 45.628 236.935 46.304C237.455 46.98 238.105 47.5975 238.885 48.1565C239.665 48.7155 240.581 49.1705 241.634 49.5215C242.688 49.8725 243.89 50.048 245.242 50.048ZM243.604 36.242C244.202 36.476 244.813 36.593 245.437 36.593C246.061 36.593 246.678 36.476 247.289 36.242C247.9 36.008 248.44 35.6635 248.908 35.2085C249.376 34.7535 249.753 34.1945 250.039 33.5315C250.325 32.8685 250.468 32.108 250.468 31.25C250.468 30.392 250.325 29.625 250.039 28.949C249.753 28.273 249.376 27.7075 248.908 27.2525C248.44 26.7975 247.9 26.453 247.289 26.219C246.678 25.985 246.061 25.868 245.437 25.868C244.813 25.868 244.202 25.985 243.604 26.219C243.006 26.453 242.473 26.804 242.005 27.272C241.537 27.74 241.16 28.3055 240.874 28.9685C240.588 29.6315 240.445 30.392 240.445 31.25C240.445 32.108 240.588 32.8685 240.874 33.5315C241.16 34.1945 241.537 34.7535 242.005 35.2085C242.473 35.6635 243.006 36.008 243.604 36.242ZM267.004 41.624C268.486 41.624 269.844 41.3705 271.079 40.8635C272.314 40.3565 273.38 39.6545 274.277 38.7575C275.174 37.8605 275.876 36.788 276.383 35.54C276.891 34.292 277.144 32.927 277.144 31.445C277.144 29.963 276.891 28.598 276.383 27.35C275.876 26.102 275.174 25.0295 274.277 24.1325C273.38 23.2355 272.314 22.5335 271.079 22.0265C269.844 21.5195 268.486 21.266 267.004 21.266C265.522 21.266 264.163 21.5195 262.928 22.0265C261.693 22.5335 260.628 23.2355 259.73 24.1325C258.833 25.0295 258.132 26.102 257.624 27.35C257.117 28.598 256.864 29.963 256.864 31.445C256.864 32.927 257.117 34.292 257.624 35.54C258.132 36.788 258.833 37.8605 259.73 38.7575C260.628 39.6545 261.693 40.3565 262.928 40.8635C264.163 41.3705 265.522 41.624 267.004 41.624ZM265.093 36.5345C265.691 36.7815 266.328 36.905 267.004 36.905C267.654 36.905 268.284 36.7815 268.895 36.5345C269.506 36.2875 270.046 35.93 270.514 35.462C270.982 34.994 271.352 34.422 271.625 33.746C271.898 33.07 272.035 32.303 272.035 31.445C272.035 30.587 271.898 29.82 271.625 29.144C271.352 28.468 270.982 27.896 270.514 27.428C270.046 26.96 269.506 26.6025 268.895 26.3555C268.284 26.1085 267.654 25.985 267.004 25.985C266.328 25.985 265.691 26.1085 265.093 26.3555C264.495 26.6025 263.962 26.96 263.494 27.428C263.026 27.896 262.655 28.468 262.382 29.144C262.109 29.82 261.973 30.587 261.973 31.445C261.973 32.303 262.109 33.07 262.382 33.746C262.655 34.422 263.026 34.994 263.494 35.462C263.962 35.93 264.495 36.2875 265.093 36.5345Z" fill="black"/>
<path d="M28.4083 0.00295344C12.7583 -0.222169 0 12.4514 0 28.1099C0 28.952 0.0416666 29.7941 0.108333 30.6196C4.43332 30.2444 8.74165 31.0281 12.4333 33.7463C16.3666 36.6312 18.1416 40.7 19.9083 45.1274C21.2 48.3625 23.3249 51.631 27.3999 49.7466C31.7583 47.7372 29.5083 40.9919 27.0749 38.4738C23.5166 34.7968 19.7833 32.3872 17.825 27.4178C16.625 24.3828 16.6 20.4057 18.0833 17.4541C21.3416 10.9422 32.4916 9.26631 36.9333 12.7515C37.6083 13.2768 38.0749 14.0773 38.4583 14.9444C38.5666 15.1779 38.7582 15.3446 38.9916 15.453V15.453C42.1832 16.9538 46.4749 19.1633 46.7499 23.2489C46.9499 26.2255 46.6082 29.2688 44.0832 31.1448C43.8332 31.3283 43.4249 31.2616 43.2749 30.9781C41.7999 28.1015 42.5166 23.8409 37.9416 24.0076C37.8999 24.0076 37.8583 24.0076 37.8166 23.9993C37.6333 23.966 37.4499 23.991 37.2833 24.066C35.1583 24.9665 31.7499 24.708 30.2249 24.091C29.3833 23.7492 28.3749 23.0488 27.7499 22.3484C26.6166 20.6391 23.6666 21.7397 25.3499 25.1583C25.8666 25.9504 26.4416 26.7091 27.0749 27.4178C28.8249 29.3772 30.7833 31.1448 32.5666 33.0709C35.2416 35.9808 37.7083 39.391 37.8166 43.5182C37.9499 48.4459 35.3249 53.3235 31.3499 56C45.2666 54.3491 56.0415 42.4426 55.9999 28.0265C55.9499 12.7599 43.6082 0.219738 28.4083 0.00295344Z" fill="#FE5665"/>
</svg>

</div>
<%# @trip = Trip.find(7)  %>
<%# @step = Step.new  %>
<%# @activity = Activity.new  %>
<%# @activities = @trip.activities %>
<%# @steps = @trip.steps  %>
<!--
<div style="border-left: 1px solid grey; margin-left: 50px;">
  <div id="div1" style="width: 50px; height: 50px; background:#e53935; margin-bottom: 50px; margin-left: -25px;">Hello</div>
  <div id="div2" style="width: 50px; height: 50px; background: green; margin-bottom: 50px; margin-left: -25px;">Bonjour</div>
  <div id="div3" style="width: 50px; height: 50px; background: yellow; margin-bottom: 50px; margin-left: -25px;">Hola</div>
  <div id="div4" style="width: 50px; height: 50px; background:#4527a0; margin-bottom: 50px; margin-left: -25px;">Ciao</div>
</div>

 -->





<!--
<div id="div1" style="width: 50px; height: 50px; background:#e53935; margin-bottom: 50px; margin-left: 50px;">Hello</div>
<div id="div2" style="width: 50px; height: 50px; background: green; margin-bottom: 50px; margin-left: 50px;">Bonjour</div>
<div id="div3" style="width: 50px; height: 50px; background: yellow; margin-bottom: 50px; margin-left: 50px;">Hola</div>
<div id="div4" style="width: 50px; height: 50px; background:#4527a0; margin-bottom: 50px; margin-left: 50px;">Ciao</div>
<div style="margin: 50px;">
  <svg><line id="line1" stroke="red"/></svg>
</div>

<script>
  line1 = $('#line1');
  div1 = $('#div1');
  div4 = $('#div4');
  var pos1 = div1.position();
  var pos2 = div4.position();
  console.log(pos1);
  console.log(pos2);
  line1
  .attr('x1', pos1.left)
  .attr('y1', pos1.top)
  .attr('x2', pos2.left)
  .attr('y2', pos2.top)
  console.log(line1)
</script>

 -->


<!--
<div style="margin: 100px;">
  <h1 id="myCanvas">hello</h1>
  <h1>hola</h1>
  <h1 id="2d">ciao</h1>
<div>


<script>
  var c = document.getElementById("myCanvas");
  var ctx = c.getContext("2d");
  ctx.beginPath();
  ctx.moveTo(0, 0);
  ctx.lineTo(300, 150);
  ctx.stroke();
</script>
 -->























<!--  -->





 <%#= render 'activities/partials/activityeditcollapse', trip: @trip, step: step, activity: activity %>
<!-- <div>
              <%#= render 'activities/partials/activityedit', trip: @trip, step: step, activity: activity %>
              <%#= render 'activities/partials/activitydelete', trip: @trip, step: step, activity: activity %>
            </div> -->



<!-- <div>
            <%#= render 'steps/partials/stepedit', trip: @trip, step: step %>
            <%#= render 'steps/partials/stepdelete', trip: @trip, step: step %>
          </div> -->







<!-- <h2>Map</h2> -->

 <!-- SEARCH BAR -->
<!-- <div id='geocoder' class='geocoder'></div> -->

<!-- MAPBOX -->
<!-- <div
  id="map"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%#= ENV['MAPBOX_API_KEY'] %>"
></div>
</div> -->


<!-- ["Sleep", "See", "Eat", "Drink", "Comment", "Move"] -->
<!-- Modal for Editing Trip-->
<!-- <div id="activity-form-<%#= activity.id %>"></div> -->


 <!-- <div>
          <%#= link_to "Edit", edit_trip_step_activity_path(@trip, step, activity), remote: true %>
        </div> -->
<!--
        <div>
          <%#= link_to "Edit", edit_trip_step_path(@trip, step), remote: true %>
        </div> -->
<!-- Comment Move Sleep See Eat Drink -->
      <!-- if click on activity.category == "comment" -->

<!-- <a class="btn btn-primary" data-toggle="collapse" href="#collapseComment" role="button" aria-expanded="false" aria-controls="collapseComment">
          Comment </a>
      <a class="btn btn-primary" data-toggle="collapse" href="#collapseSleep" role="button" aria-expanded="false" aria-controls="collapseSleep">
          Sleep </a>
      <div class="collapse" id="collapseComment">
        <div class="card card-body">
          <%#= render 'activities/partials/formcomment', trip: @trip, step: step, activity: @activity %>
        </div>
      </div>
      <div class="collapse" id="collapseComment">
        <div class="card card-body">
          <%#= render 'activities/partials/formsleep', trip: @trip, step: step, activity: @activity %>
        </div>
      </div>
    </div> -->

<!--
<script>
  document.getElementById("multiCollapseComment").addEventListener("click", (event) => {
    event.preventDefault();
    console.log(event);
    // @activity.category = "Comment";
  })

  document.getElementById("multiCollapseSleep").addEventListener("click", (event) => {
    event.preventDefault();
    console.log(event);
    // @activity.category = "Sleep";
  })
</script> -->

<!-- <script>
  var $accordion = $('#accordion');
  $accordion.on('show.bs.collapse','.collapse', function() {
  $accordion.find('.collapse.show').collapse('hide');
  });
</script> -->

<!-- if click on activity.category == "comment" -->
<!-- if click on activity.category == "sleep" -->
  <%#= render 'activities/partials/formsleep', trip: @trip, step: @step %>

<!--  <%#= render 'steps/partials/form', trip: @trip, step: step %> -->
