.address-fetched {
  font-size: 16px;
  color: #707070;
  margin-bottom: 25px;
}

.photo-comment-container {
  margin-bottom: 15px;
}

.comment-fetched-info-container {
  margin-left: 20px;

}

.comment-container {
  position: relative;
  padding-top: 20px;
  width: 350px;
  margin-bottom: 10px;
  background-color: #F0F0F0;
  border-radius: 4px;
}

.comment-container .avatar-bordered {
  position: absolute;
  top: -20px;
  right: 158px;
}

.comment-container p {
  color: #282828;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-style: italic;
}

.rating-fetched .fab {
  color: #12B97C;
  text-shadow: 1px 1px 1px #ccc;
  font-size: 1em;
}



.photo-fetched {
  width: 250px;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

.general-info-fetched {
  margin-top: 10px;
  padding: 10px;
}

.general-info-fetched .url-fetched {
  text-align: center;
}








