
.background-login {
  background-size: cover;
  background-position: top;
  height: 100vh;
  margin-bottom: 30px;
  text-align: center;
  padding-top: 7vh;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset-url('banner-background.jpg');;
}
