.btn-primary {
  color: white;
  background-color: #10B97C;
  border-color: #10B97C;
  border-radius: 6px;
  width: 220px;
  // padding-right: 80px;
  // padding-left: 80px;
}

.btn-profile {
  color: white;
  background-color: #ABAAAA;
  border-color: #ABAAAA;
  // border-radius: 6px;
  padding-right: 40px;
  padding-left: 40px;
  margin: 20px;

}

.btn-profile:hover {
  color: white;
  background-color: #ABAAAA;
  border-color: #ABAAAA;
  opacity: 0.9;
}

.btn-primary:hover {
  color: white;
  background-color: #10B97C;
  border-color: #10B97C;
  opacity: 0.9;
}

.btn-outline-primary {
  color: white;
  border-color: white;
  border-width: 2px;
  border-radius: 6px;
  width: 220px;
}

.btn-outline-primary:hover {
  color: #10B97C;
  border-color: #10B97C;
  background-color: transparent;
  opacity: 0.7;
}

.btn-outline-green-primary {
  color: #10B97C;
  border-color: #10B97C;
  border-width: 2px;
  border-radius: 6px;
  width: 220px;
}
.btn-outline-green-primary:hover {
  color: #10B97C;
  border-color: #10B97C;
  background-color: transparent;
  opacity: 0.7;
}

.btn-secondary {
  color: white;
  background-color: #ABAAAA;
  border-color: #ABAAAA;
  // border-radius: 6px;
  width: 220px;
}

.btn-secondary:hover {
  color: white;
  background-color: #ABAAAA;
  border-color: #ABAAAA;
  opacity: 0.9;
}

.input-mysize { width: 250px }

