.btn-primary {
  color: white;
  background-color: $pink-flamingo;
  border-color: $pink-flamingo;
  border-radius: 6px;
  width: 220px;
  // padding-right: 80px;
  // padding-left: 80px;
}

.btn-primary:hover {
  color: white;
  background-color: $pink-flamingo;
  border-color: $pink-flamingo;
  opacity: 0.9;
}

.btn-profile {
  color: white;
  background-color: #ABAAAA;
  border-color: #ABAAAA;
  // border-radius: 6px;
  padding-right: 40px;
  padding-left: 40px;
  margin: 20px;

}

.btn-profile:hover {
  color: white;
  background-color: #ABAAAA;
  border-color: #ABAAAA;
  opacity: 0.9;
}



.btn-outline-primary {
  color: white;
  border-color: white;
  border-width: 2px;
  border-radius: 6px;
  width: 220px;
}

.btn-outline-primary:hover {
  // color: #10B97C;
  border-color: white;
  background-color: transparent;
  opacity: 0.8;
}

.btn-outline-pink-primary {
  color: $pink-flamingo;
  border-color: $pink-flamingo;
  border-width: 2px;
  border-radius: 6px;
  width: 220px;
}
.btn-outline-pink-primary:hover {
  color: $pink-flamingo;
  border-color: $pink-flamingo;
  background-color: transparent;
  opacity: 0.7;
}

.btn-secondary {
  color: white;
  background-color: $blue-flamingo;
  border-color: $blue-flamingo;
  // border-radius: 6px;
  width: 220px;
}

.btn-secondary:hover {
  color: white;
  background-color: $blue-flamingo;
  border-color: $blue-flamingo;
  opacity: 0.9;
}

.mapbox-class .geocoder .mapboxgl-ctrl {
  box-shadow: none;
  border: 1px solid #ABAAAA;
  border-radius: 6px 0px 0px 6px;
}

.input-mysize { width: 250px }

.fetch-link {
  color: white !important;
  background-color: $blue-flamingo;
  border-bottom: 3px solid $blue-flamingo;
  // border-color: #ABAAAA;
  padding: 8px 40px 6px 40px;
  border-radius: 0px 6px 6px 0px;
  display: inline-block;
  font-size: 1rem;
  font-family: 'Open Sans';
}

.mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
  display: inline-block;
  box-shadow: none;
  border: 1px solid #ABAAAA;
  border-radius: 6px 0px 0px 6px;
}

.mapboxgl-ctrl-geocoder--pin-right {

}

div#geocoder {
    display: flex;
}

#activity_comment {
  border-radius: 6px;
  border-color: #ABAAAA;
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-control.numeric.integer.optional {
  border-radius: 6px;
  border-color: #ABAAAA;
  margin-top: 20px;
  margin-bottom: 20px;
}

input#step_nights::placeholder {
  font-family: 'Open Sans';
}

.form-control.string.required {
  margin: 20px auto 20px auto;
  width: 60%;
  border-radius: 6px;
}

.form-control.string.email.required {
  // margin: 20px auto 20px auto;
  width: 100%;
  // border-radius: 6px;
}

.form-control.is-valid.string.required {
  margin: 20px auto;
  width: 60%;
}

#trip_country_code {
  margin: 20px auto;
  width: 60%;
  border-radius: 6px;
}

#dates-calendar {
  margin: 20px auto;
  width: 60%;
  border-radius: 6px;
}
.form-group.file.optional {
  font-weight: bold;
}

.form-group.file.optional.trip_photo {
  text-align: left;
  color: black;
  margin-left: 96px;
}

.btn.btn-primary.form-trip {
  margin: 20px auto 35px auto;
  width: 60%;
}

#form-trip {
  text-align: center;
}

.modal-header.trip-form {
  border: none;
}

.add-step-link {
  color: #d6d4d4;
}

.add-step-link:hover {
  text-decoration: none;
  color: #d6d4d4;
  opacity: 0.7;
}
