.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 30px;

}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.card-trip h2 {
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  opacity: .7;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 16px;
  flex-direction: column;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  height: 100px;
  position: relative;
  border-right: 1px solid #ABAAAA;
  border-left: 1px solid #ABAAAA;
  border-bottom: 1px solid #ABAAAA;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  word-wrap: break-word;
}

#card-trip-day {
  width: 45px;
  font-size: 12px;
  text-align: right;
  vertical-align: bottom;
  white-space: nowrap;
  position: absolute;
  right: 17px;
  bottom: 6px;
}
// #card-trip-title {
// font-size: 18px;
// }

#card-trip-location {
  font-size: 14px;
  vertical-align: bottom;
    // height: 38px;
    // white-space: nowrap;
    // position: absolute;
    // bottom: 0px;
    max-width: 200px;
    word-wrap: break-word;
  }
// .card-trip-location .fas {

// }

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}

// .fade-in {
//   animation-name: fadeInOpacity;
//   animation-iteration-count: 1;
//   animation-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1);;
//   animation-duration: .4s;
//   animation-delay:0.2s;
// }
// .fade-in:nth-child(1){
//   animation-delay:0.2s;
// }
// .fade-in:nth-child(2){
//   animation-delay:0.4s;
// }
// .fade-in:nth-child(3){
//   animation-delay:0.6s;
// }
// .fade-in:nth-child(4){
//   animation-delay:0.8s;
// }
// .fade-in:nth-child(5){
//   animation-delay:1s;
// }

// @keyframes fadeInOpacity {
//   0% {
//     transform: translate(0, 100px);
//     opacity: 0.3;
//   }
//   100% {
//     transform: translate(0, 0);
//     opacity: 1;
//   }
// }
