.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.card-trip h2 {
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  opacity: .7;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  border-right: 1px solid #ABAAAA;
  border-left: 1px solid #ABAAAA;
  border-bottom: 1px solid #ABAAAA;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
