.icon-start-end {
  color: #ABAAAA;
  background-color: white;
  text-align: center;
  margin-left: -8px;
  margin-right: 20px;
}

.icon-add-step {
  color: $pink-flamingo;
  background-color: white;
  text-align: center;
  margin-left: -15px;
  margin-right: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.icon-step-position {
  color: white;
  background-color: $pink-flamingo;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 25px;
  margin-left: -15px;
  margin-right: 11px;
}

.icon-add-activity {
  color: black;
  background-color: white;
  text-align: center;
  margin-left: -8px;
  margin-right: 14px;
  padding-top: 8px;
  // margin-top: 4px;
  // padding-top: 10px;
  // padding-bottom: 4px;
}

.icon-activity {
  color: black;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin-left: -9px;
  margin-right: 9px;
}

.icon-activity-button {
  color: black;
  padding: 5px;
  border: 2px solid black;
  border-radius: 50%;
}

.icon-activity-button:hover {
  opacity: 0.7;
  font-size: 20px;
}

.icon-activity-button-link {
  display: inline-block;
  width: 38px;
  position:relative;
}



// .icon-activity-button-link .inner {
//   display:none;
//   position:absolute;
//   top:-20px;
//   left:0px;
//   width:50px;
//   height:50px;
// }

.icon-edit-delete {
  color: white;
  background-color: black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  padding-top: 7px;
}

.icon-edit-delete:hover {
  background-color: black;
  opacity: 0.7;
}
