.icon-start-end {
  color: #ABAAAA;
  text-align: center;
  margin-left: -8px;
  margin-right: 20px;
}

.icon-add-step {
  color: #10B97C;
  background-color: white;
  text-align: center;
  margin-left: -15px;
  margin-right: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.icon-step-position {
  color: white;
  background-color: #10B97C;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 25px;
  margin-left: -15px;
  margin-right: 11px;
}

.icon-add-activity {
  color: #10B97C;
  background-color: white;
  text-align: center;
  margin-left: -8px;
  margin-right: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.icon-activity {
  color: #10B97C;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin-left: -9px;
  margin-right: 9px;
}

.icon-activity-button {
  color: #ABAAAA;
  padding: 5px;
  border: 2px solid #ABAAAA;
  border-radius: 50%;
}

.icon-activity-button:hover {
  color: #10B97C;
  border-color: #10B97C;
}

.icon-edit-delete {
  color: white;
  background-color: #ABAAAA;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  padding-top: 7px;
}

.icon-edit-delete:hover {
  background-color: #c9c5c5;
}


