.icon-button {
  color: #ABAAAA;
  padding: 5px;
  border: 2px solid #ABAAAA;
  border-radius: 50%;
}

.icon-button:hover {
  color: #10B97C;
  border-color: #10B97C;
}

.icon {
  color: #10B97C;
}

.icon-action {
  color: white;
  background-color: #ABAAAA;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  padding-top: 7px;
}

.icon-action:hover {
  background-color: #c9c5c5;
}
