 <h4><% if activity.category == "See" %>
  <i class="far fa-eye icon-activity"></i>
<% elsif activity.category == "Eat" %>
  <i class="fas fa-utensils icon-activity"></i>
<% elsif activity.category == "Drink" %>
  <i class="fas fa-cocktail icon-activity"></i>
<% elsif activity.category == "Sleep" %>
  <i class="fas fa-bed icon-activity"></i>
<% elsif activity.category == "Move" %>
  <i class="fas fa-bus icon-activity"></i>
<% elsif activity.category == "Comment" %>
  <i class="fas fa-comment icon-activity"></i>
<% end %>
<%= activity.name %></h4>
<div>
  <% if activity.category == "See" || activity.category == "Eat" || activity.category == "Drink" || activity.category == "Sleep" %>
  <div class="address-fetched">
    <p> <strong>Address:</strong> <%= activity.address %> </p>
  </div>
  <% end %>

  <%#= activity.comment %>
  <%#= activity.photo %>
  <%#= activity.types %>
  <%#= activity.rating %>
  <%#= activity.position %>
  <%#= activity.photo %>
</div>
