<a class="edit-delete-buttons" style="padding-left: 25px; padding-bottom: 8px; color: #ABAAAA;" data-toggle="collapse" href="#collapseEditActivity<%= activity.id %>" role="button" aria-expanded="false" aria-controls="collapseEditActivity<%= activity.id %>">
  Edit
</a>
