<a data-toggle="collapse" href="#collapseEditActivity<%= activity.id %>" role="button" aria-expanded="false" aria-controls="collapseEditActivity<%= activity.id %>">
  <i class="far fa-edit"></i>
</a>

