<%= link_to ('<p style="margin-bottom: 0;padding-left: 15px; padding-bottom: 8px; color: #ABAAAA; text-decoration: none;">Delete</p>').html_safe, trip_step_activity_path(@trip, step, activity),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
